@use "sass:string";

// ------------------------------------------------------------------------- SPACING SCALE GENERATOR
// Genera escala de espaciado basado en una constante ($k), una razón ($r) y un valor
// incremental (que se incrementa de $r en $r en cada iteración)  que va desde un número inicial
// ($firstVal) a uno final ($lastVal), el valor inicial y final son `inclusivos`.
//
// @param {string} prefix - prefijo de selector a utilizar
// @param {number} k - constante
// @param {number} r - razón de incremento, también usado para concatenar al nombre del prefijo
// @param {integer} i1 - valor inicial
// @param {integer} in - valor final
// @param {boolean} lastIncluded - indica si el valor final será incluído en el resultado
// @returns {CSSblock} - retorna bloque css con todas las clases generadas basadas en los valores
// pasados
@mixin spacing_scale($prefix: "", $k, $r, $firstVal: 1, $lastVal) {
  $i: $firstVal;
  $appliesOn: (
    padding: p,
    margin: m,
  );

  @while $lastVal >= $i {
    $suffix: #{$i};
    $putScapeOn: string.index($suffix, ".");
    @debug "Generating classes for: #{$i}";

    @if $putScapeOn {
      $suffix: string.insert($suffix, "\\", $putScapeOn);
    }

    @each $prop, $sel in $appliesOn {
      .#{$prefix}#{$sel}-#{$suffix} {
        #{$prop}: #{$k * $i}rem;
      }

      .#{$prefix}#{$sel}t-#{$suffix} {
        #{$prop}-top: #{$k * $i}rem;
      }

      .#{$prefix}#{$sel}r-#{$suffix} {
        #{$prop}-right: #{$k * $i}rem;
      }

      .#{$prefix}#{$sel}b-#{$suffix} {
        #{$prop}-bottom: #{$k * $i}rem;
      }

      .#{$prefix}#{$sel}l-#{$suffix} {
        #{$prop}-right: #{$k * $i}rem;
      }

      .#{$prefix}#{$sel}y-#{$suffix} {
        #{$prop}: {
          top: #{$k * $i}rem;
          bottom: #{$k * $i}rem;
        }
      }

      .#{$prefix}#{$sel}x-#{$suffix} {
        padding: {
          right: #{$k * $i}rem;
          left: #{$k * $i}rem;
        }
      }
    }

    $i: $i + $r;
  }
}
