@use "../../../resources/styles/index.scss";

.main {
  display: grid;
  height: 100vh;
  justify-content: center;
  width: 100%;

  .close {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .content {
    display: grid;
    height: 100%;
    place-items: center;
    position: relative;
    width: 300px;

    .container {
      width: 100%;

      .form-container {
        .form {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &__row {
            &__label {
              display: block;
              font-weight: 700;
              font-size: 1rem;
            }

            &__input {
              background-color: var(--text-input-field);
              border-radius: 5px;
              border-style: none;
              color: var(--dark);
              font-size: 0.9rem;
              padding: 0.5rem;
              width: 100%;
            }

            &:has(a) {
              text-align: center;
            }

            &__link {
              color: var(--hospital-green);
            }
          }
        }
      }

      .out-form-container {
        bottom: 2rem;
        position: absolute;
        width: 100%;

        @media (min-width: 768px) {
          position: relative;
          bottom: -2rem;
        }
      }

      .secondary-section__button {
        position: absolute;
        bottom: 1rem;

        @media (min-width: 768px) {
          position: relative;
          bottom: -2rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .close {
    position: absolute;
    visibility: hidden;
    width: 0;
  }
}
