@use "../../../resources/styles/index.scss";

.content {
  display: grid;
  place-items: center;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;

    .info {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      gap: 1rem;
      text-align: center;

      &__title {
        font-weight: 700;
      }

      &__caption {
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 0.5rem;
      }
    }

    .form-container {
      .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__row {
          &__label {
            display: block;
            font-weight: 700;
            font-size: 1rem;
          }

          &__input {
            background-color: var(--text-input-field);
            border-radius: 5px;
            border-style: none;
            color: var(--dark);
            font-size: 0.9rem;
            padding: 0.5rem;
            width: 100%;
          }

          &:has(a) {
            text-align: center;
          }

          &__link {
            color: var(--hospital-green);
          }
        }
      }
    }
  }
}
