@use "../../global/styles/normalize";
@use "../../global/styles/jmayta.helpers" as jmayta;
@use "./reset.local";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@700&display=swap");

:root {
  --black: #000000ff;
  --dark: #232830ff;
  --hospital-green: #acd9b2ff;
  --text-input-field: #f7f7f7ff;
  --very-light-pink: #c7c7c7ff;
  --white: #ffffffff;

  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

/* --------------------------------------------------------------------------------- SPACING SCALE*/
@include jmayta.spacing_scale($k: 0.25, $r: 0.5, $firstVal: 0, $lastVal: 1);
@include jmayta.spacing_scale($k: 0.25, $r: 1, $firstVal: 2, $lastVal: 6);
@include jmayta.spacing_scale($k: 0.25, $r: 2, $firstVal: 8, $lastVal: 12);
@include jmayta.spacing_scale($k: 0.25, $r: 4, $firstVal: 16, $lastVal: 32);

/*---------------------------------------------------------------------------------------- BUTTON */
.button {
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 1rem 0;
  text-align: center;
  width: 100%;

  &--primary {
    border: none;
    background-color: var(--hospital-green);
    color: var(--white) !important;

    &:hover {
      color: var(--white);
    }
  }

  &--secondary {
    background-color: var(--white);
    border: 2px solid var(--hospital-green);
    color: var(--hospital-green) !important;

    &:hover {
      color: var(--hospital-green);
    }
  }

  &--disabled {
    opacity: 0.8;
  }
}

/* --------------------------------------------------------------------------------------- HEADER */
.header {
  position: absolute;
  visibility: hidden;
  width: 0;
}

/* CONTENT LOGO --------------------------------------------------------------------------------- */
.content-logo {
  display: grid;
  place-items: center;
  position: relative;
  top: -4rem;
  width: 100%;

  &__img {
    height: 2rem;
    width: auto;
  }
}

/* FORMS ---------------------------------------------------------------------------------------- */
.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 1rem;
  text-align: center;

  &__title {
    font-weight: 700;
  }

  &__caption {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0.5rem;
  }
}

.form-container {
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__row {
      &__label {
        display: block;
        font-weight: 700;
        font-size: 1rem;
      }

      &__input {
        background-color: var(--text-input-field);
        border-radius: 5px;
        border-style: none;
        color: var(--dark);
        font-size: 0.9rem;
        padding: 0.5rem;
        width: 100%;
      }

      &:has(a) {
        text-align: center;
      }

      &__link {
        color: var(--hospital-green);
      }
    }
  }
}
/* ---------------------------------------------------------------------------------- SCREEN MID+ */
@media (min-width: 768px) {
  .header {
    background-color: var(--white);
    left: 0;
    position: fixed;
    top: 0;
    visibility: visible;
    width: 100vw;
    z-index: 9999;

    /* ------------------------------------------------------------------------------------- NAVBAR */
    .navbar {
      border-bottom: 1px solid var(--white);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
      color: var(--very-light-pink);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-weight: 500;
      height: 56px;
      justify-content: space-between;
      padding: 0 2%;
      width: 100%;

      &__left,
      &__right {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        &__item {
          a {
            padding: 0.2rem 0.6rem;

            &:hover {
              color: var(--hospital-green);
            }
          }

          &.--brand {
            margin-right: 2rem;
          }
        }
      }

      &__left {
        &__item {
          &__logo {
            display: grid;
            place-items: center;

            &__img {
              height: 1.5rem;
              width: auto;
            }
          }
        }
      }

      .--active {
        border: 1px solid var(--hospital-green);
        border-radius: 8px;
        color: var(--hospital-green);
      }

      .--colorized {
        color: var(--hospital-green);
      }
    }
  }

  .content-logo {
    display: none;
    visibility: hidden;
  }
}
