@use "../../../resources/styles/index.scss";

.content {
  display: grid;
  place-items: center;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
  }
}
